<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
    <link href="login.css" rel="stylesheet" type="text/css" />
    <link href="background.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="./img/icon.png">
</head>

<body>
    <div class="login_container">
        <header class="logo_header">
            <img class="instagramText" src="./img/logo_text.png" alt="instagramText" />
        </header>
        <section class = "login_box">
            <input type="text" class="login_input" placeholder="전화번호, 사용자 이름 또는 이메일">
            <input type="text" class="password_input" placeholder="비밀번호">
            <div class="btn">
                <button id="loginButton" class="login_btn" disabled>로그인</button>
            </div>
        </section>
        
    </div>
    <div class="signup_container">
        <footer class="join_insta">
            <p class="join">계정이 없으신가요? <button class="join_btn">가입하기</button></p>
        </footer>
    </div>
</body>

</html>